* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.main-div-header {
  /* min-height: 8vh; */
  background-color: white;
  box-shadow: 0 0 6px 0 black;
  padding: 0.3rem 12.8rem 0.3rem 12.8rem;
  margin: 0 0 3px 0;
}

.child-div-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.child-sub-div {
  color: #007bff;
  background-color: white;
}

.home-main-div {
  padding: 0 12.8rem 0 12.8rem;
background-color: #e5e5e5;
  min-height: 100vh;
  max-height: 100%;
}

.home-sub-div {
  padding-top: 1rem;
  min-height: 100vh;
  min-width: 100%;
  background-color: white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.aa{
  padding: 0 3.5rem 0 3.5rem;
}

.doc-detail-div{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* color: white; */
  padding: 1rem 0 1rem 0;
}
.doc-img-div{
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 18%;
}

.appointment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
}

.nav-main{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(168, 162, 162);
  border-radius: 5px;
  text-decoration: none;
  padding: 1px 8px 1px 8px;
  
}

.audio{
  height: 85px !important;
  width: 85px !important;
  color: black;
  
}
.active{
  color: white !important;
  background-color: rgb(78, 223, 78);
  text-decoration: none;
}

.active .audio{
  color: white;
}

.active .a{
  color: white !important;
}

.clinic-main{
  padding: 1rem 2rem 1rem 2rem;
}

.check{
  padding: 0rem 4rem 1rem 4rem;
}
.tl{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}
.tb{
  border: 0;
}

.timings-div{
  padding: 0.5 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
}

.timings-sub-div{
  width: 100%;
  border: 1px solid rgb(125, 117, 117);
  /* background-color: gray; */
  border-radius:4px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}
.final-button{
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 1rem 0;
}

.sub-main-booking{

  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 1px solid gray;
  /* justify-content: center; */
  /* align-items: center; */
}
.main-div-booking{
  min-height: 70vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}